* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: grey;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	font: normal 1em arial;
}
span {
	font-weight: bold;
}
