@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: grey;
}
header {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}
#Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Menu>div{
    margin-right: 40px;
    cursor: default;
}
/* Animação */
.line{
    position: absolute;
    display: block;
    height: 2px;
    background-color: black;
    transition: all 0.5s;
}
#p1{
    width: 50px
}
#p2{
    width: 65px
}
#p3{
    width: 68px
}
