@keyframes botaomechendo {
    from {

    }
    to {
        transform: scale(1.1);
    }
}
@font-face {
    font-family: Font;
    src: url(absender/absender1.ttf);
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
    color: white;
    font: normal 1em Font;
}
#calculadora {
    width: 350px;
    height: 500px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
header {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 3em;
    
}
section {
    display: flex;
    flex-direction: row;
    height: 350px;
}
.colunas {
    
    flex: 25%;
    display: flex;
    flex-direction: column;
}
.caixa {
    flex: 25%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
span {
    font-size: 3em;
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
    cursor: grab;
  
}
span:hover {
    animation: botaomechendo 1s alternate infinite;
}
