@keyframes aparecendo {
    from  {
        opacity: 50%;
    }
    to {
        transform: translateX(calc(-50vw + 50px ));
    }
}
@keyframes sumindo {
    from  {
        opacity: 100%;
        transform: translateX(calc(-50vw + 50px ));
    }
    to {
        opacity: 20%;
    }
}
@keyframes liaparecendo {
    from {
        transform: translateX(20px);
        opacity: 50%;
    }

    to {

    }
}
@media (max-width:800px){
    ul{
        background-color: rgb(41, 0, 41);
        position: absolute;
        top: 7vh;
        height: 93vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(50px);
    }
    .line { 
        display: block !important;
    }
}
@font-face {
    font-family: Font;
    src: url(mídias/lemon_milk/LEMONMILK-Light.otf);
}
body {
    overflow: hidden;
    color: white;
    font: normal 0.8em Font;
    text-align: center;
}
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: white;
}
header{
    height: 7vh;
    width: 100vw;
    background-color: rgb(41, 0, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    background: url(mídias/colin-horn-fR9U2S31Exs-unsplash.jpg) no-repeat center center;
    height: 93vh;
    background-size: cover;
    width: 100vw;
}

.Posi-flex{
    flex: 33%;
}

.line { 
    height: 3px;
    width: 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    margin: 5px 20px 0px 0px;
    display:none;
}
ul>li {
    display: inline;
    margin-right: 10px;
}
.roda1{
    transform: rotate(40deg) ; 
}
.roda2 {
    transform: rotate(-40deg) translate(5px, -6px);
}
.roda3 {
    display: none !important; 
}
.listaaparece {
    animation: aparecendo 0.7s running forwards alternate;
}
.listasome {
    animation: sumindo 0.7s running;
}
.liaparece {

}

