* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: black;
	color: white;
	overflow: hidden;
}
.line {
	width: 23px;
	height: 3px;
	background-color: white;
	margin-top: 3px;
}
main {
	display: flex;
	border: 1px solid white;
	height: calc(100vh - 70px);
	flex-direction: row;
	align-items: center;
}
main div {
	display: flex;
	justify-content: center;
	flex: 50%;
}
